PipelineWS/Service References/LAPI.Insurances/InsurancesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://services.altasoft.ge/loans/v1.0" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InsurancesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://services.altasoft.ge/loans/v1.0" location="http://pipeline.vtb.com.ge/LapiLastTest/InsurancesService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_InsurancesService" type="i0:InsurancesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPolicy">
      <soap:operation soapAction="http://services.altasoft.ge/loans/v1.0/InsurancesService/GetPolicy" style="document" />
      <wsdl:input name="GetPolicyRequest">
        <soap:header message="i0:GetPolicyRequest_Headers" part="RequestHeaders" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPolicyResponse">
        <soap:header message="i0:GetPolicyResponse_Headers" part="ResponseHeaders" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApiFault">
        <soap:fault use="literal" name="ApiFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListPolicies">
      <soap:operation soapAction="http://services.altasoft.ge/loans/v1.0/InsurancesService/ListPolicies" style="document" />
      <wsdl:input name="ListPoliciesRequest">
        <soap:header message="i0:ListPoliciesRequest_Headers" part="RequestHeaders" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ListPoliciesResponse">
        <soap:header message="i0:ListPoliciesResponse_Headers" part="ResponseHeaders" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApiFault">
        <soap:fault use="literal" name="ApiFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PutPolicy">
      <soap:operation soapAction="http://services.altasoft.ge/loans/v1.0/InsurancesService/PutPolicy" style="document" />
      <wsdl:input name="PutPolicyRequest">
        <soap:header message="i0:PutPolicyRequest_Headers" part="RequestHeaders" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PutPolicyResponse">
        <soap:header message="i0:PutPolicyResponse_Headers" part="ResponseHeaders" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApiFault">
        <soap:fault use="literal" name="ApiFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListInsurances">
      <soap:operation soapAction="http://services.altasoft.ge/loans/v1.0/InsurancesService/ListInsurances" style="document" />
      <wsdl:input name="ListInsurancesRequest">
        <soap:header message="i0:ListInsurancesRequest_Headers" part="RequestHeaders" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ListInsurancesResponse">
        <soap:header message="i0:ListInsurancesResponse_Headers" part="ResponseHeaders" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApiFault">
        <soap:fault use="literal" name="ApiFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListInsuranceTypes">
      <soap:operation soapAction="http://services.altasoft.ge/loans/v1.0/InsurancesService/ListInsuranceTypes" style="document" />
      <wsdl:input name="ListInsuranceTypesRequest">
        <soap:header message="i0:ListInsuranceTypesRequest_Headers" part="RequestHeaders" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ListInsuranceTypesResponse">
        <soap:header message="i0:ListInsuranceTypesResponse_Headers" part="ResponseHeaders" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApiFault">
        <soap:fault use="literal" name="ApiFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListProducts">
      <soap:operation soapAction="http://services.altasoft.ge/loans/v1.0/InsurancesService/ListProducts" style="document" />
      <wsdl:input name="ListProductsRequest">
        <soap:header message="i0:ListProductsRequest_Headers" part="RequestHeaders" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ListProductsResponse">
        <soap:header message="i0:ListProductsResponse_Headers" part="ResponseHeaders" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApiFault">
        <soap:fault use="literal" name="ApiFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListCompanies">
      <soap:operation soapAction="http://services.altasoft.ge/loans/v1.0/InsurancesService/ListCompanies" style="document" />
      <wsdl:input name="ListCompaniesRequest">
        <soap:header message="i0:ListCompaniesRequest_Headers" part="RequestHeaders" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ListCompaniesResponse">
        <soap:header message="i0:ListCompaniesResponse_Headers" part="ResponseHeaders" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApiFault">
        <soap:fault use="literal" name="ApiFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InsurancesService">
    <wsdl:port name="BasicHttpBinding_InsurancesService" binding="tns:BasicHttpBinding_InsurancesService">
      <soap:address location="http://pipeline.vtb.com.ge/LapiLastTest/InsurancesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>