PipelineWS/Service References/LAPI.Insurances/InsurancesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.altasoft.ge/loans/v1.0" elementFormDefault="qualified" targetNamespace="http://services.altasoft.ge/loans/v1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pipeline.vtb.com.ge/LapiLastTest/InsurancesService.svc?xsd=xsd3" namespace="http://models.altasoft.ge/loans/v1.0" />
  <xs:import schemaLocation="http://pipeline.vtb.com.ge/LapiLastTest/InsurancesService.svc?xsd=xsd5" namespace="http://services.altasoft.ge/faults/v1.0" />
  <xs:import schemaLocation="http://pipeline.vtb.com.ge/LapiLastTest/InsurancesService.svc?xsd=xsd4" namespace="http://models.altasoft.ge/common/v1.0" />
  <xs:element name="GetPolicy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PolicyId" type="xs:int" />
        <xs:element minOccurs="0" name="ControlFlags" nillable="true" type="tns:PolicyControlFlags" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="PolicyControlFlags">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Basic" />
          <xs:enumeration value="Attributes" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="PolicyControlFlags" nillable="true" type="tns:PolicyControlFlags" />
  <xs:element name="GetPolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://models.altasoft.ge/loans/v1.0" minOccurs="0" name="Result" nillable="true" type="q1:Policy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q2="http://services.altasoft.ge/faults/v1.0" name="ApiFault" nillable="true" type="q2:ApiFault" />
  <xs:element name="ListPolicies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Query" nillable="true" type="tns:ListPoliciesQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ListPoliciesQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ControlFlags" nillable="true" type="tns:PolicyControlFlags">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q3="http://models.altasoft.ge/common/v1.0" minOccurs="0" name="Ids" nillable="true" type="q3:IntList">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q4="http://models.altasoft.ge/common/v1.0" minOccurs="0" name="Numbers" nillable="true" type="q4:StringList">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="LoanId" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CompanyId" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListPoliciesQuery" nillable="true" type="tns:ListPoliciesQuery" />
  <xs:element name="ListPoliciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://models.altasoft.ge/loans/v1.0" minOccurs="0" name="Result" nillable="true" type="q5:PoliciesList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutPolicy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://models.altasoft.ge/common/v1.0" minOccurs="0" name="Creator" nillable="true" type="q6:UserAndDeptId" />
        <xs:element xmlns:q7="http://models.altasoft.ge/loans/v1.0" minOccurs="0" name="Insurances" nillable="true" type="q7:InsurancesList" />
        <xs:element xmlns:q8="http://models.altasoft.ge/loans/v1.0" minOccurs="0" name="Policy" nillable="true" type="q8:Policy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutPolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ETag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PolicyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListInsurances">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Query" nillable="true" type="tns:ListInsurancesQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ListInsurancesQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ControlFlags" nillable="true" type="tns:InsuranceControlFlags">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q9="http://models.altasoft.ge/common/v1.0" minOccurs="0" name="Ids" nillable="true" type="q9:IntList">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PolicyId" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="LoanId" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ExtraId" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListInsurancesQuery" nillable="true" type="tns:ListInsurancesQuery" />
  <xs:simpleType name="InsuranceControlFlags">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Basic" />
          <xs:enumeration value="Attributes" />
          <xs:enumeration value="PaymentSchedule" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="InsuranceControlFlags" nillable="true" type="tns:InsuranceControlFlags" />
  <xs:element name="ListInsurancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://models.altasoft.ge/loans/v1.0" minOccurs="0" name="Result" nillable="true" type="q10:InsurancesList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListInsuranceTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ControlFlags" nillable="true" type="tns:InsuranceTypeControlFlags" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="InsuranceTypeControlFlags">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Basic" />
          <xs:enumeration value="AttributeCodes" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="InsuranceTypeControlFlags" nillable="true" type="tns:InsuranceTypeControlFlags" />
  <xs:element name="ListInsuranceTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://models.altasoft.ge/loans/v1.0" minOccurs="0" name="Result" nillable="true" type="q11:InsuranceTypesList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Query" nillable="true" type="tns:ListProductsQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ListProductsQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ControlFlags" nillable="true" type="tns:ProductControlFlags">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q12="http://models.altasoft.ge/common/v1.0" minOccurs="0" name="Ids" nillable="true" type="q12:IntList">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CompanyId" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="IsAuthorized" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListProductsQuery" nillable="true" type="tns:ListProductsQuery" />
  <xs:simpleType name="ProductControlFlags">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Basic" />
          <xs:enumeration value="PolicyAttributeCodes" />
          <xs:enumeration value="Conditions" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ProductControlFlags" nillable="true" type="tns:ProductControlFlags" />
  <xs:element name="ListProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://models.altasoft.ge/loans/v1.0" minOccurs="0" name="Result" nillable="true" type="q13:ProductsList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCompanies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCompaniesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://models.altasoft.ge/loans/v1.0" minOccurs="0" name="Result" nillable="true" type="q14:CompaniesList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>