PipelineWS/Web References/CraService/CRAService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://stateinstitution.cra.ge/" elementFormDefault="qualified" targetNamespace="http://stateinstitution.cra.ge/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPersonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonInfo" nillable="true" type="tns:PersonInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonInfo" nillable="true" type="tns:ArrayOfPersonInfo" />
  <xs:complexType name="PersonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExtensionData" nillable="true" type="tns:ExtensionDataObject">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BirthPlace" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Citizenship" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CitizenshipCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentID" type="xs:long" />
      <xs:element name="DocumentStatusEnum" nillable="true" type="tns:DocumentStatus" />
      <xs:element minOccurs="0" name="DocumentStatusStr" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DoubleCitizenship" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DoubleCitizenshipCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="FaLivingPlace" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Gender" nillable="true" type="xs:short" />
      <xs:element name="IdCardIssueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdCardIssuer" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="IdCardNumber" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="IdCardSerial" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdCardValidDate" nillable="true" type="xs:dateTime" />
      <xs:element name="IsIdCard" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="LivingPlace" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="LivingPlaceID" nillable="true" type="xs:long" />
      <xs:element name="LivingPlaceRegDate" nillable="true" type="xs:dateTime" />
      <xs:element name="LivingPlaceRegEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaspIssueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaspIssuer" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PaspNumber" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaspValidDate" nillable="true" type="xs:dateTime" />
      <xs:element name="PersonID" type="xs:long" />
      <xs:element minOccurs="0" name="Photos" nillable="true" type="tns:ArrayOfBase64Binary">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PrivateNumber" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegionID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="RegionStr_" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="RejectedDate" nillable="true" type="xs:dateTime" />
      <xs:element name="ResponseCode" type="tns:ResponseStatus" />
      <xs:element minOccurs="0" name="ResponseID" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonInfo" nillable="true" type="tns:PersonInfo" />
  <xs:complexType name="ExtensionDataObject">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ExtensionDataObject" nillable="true" type="tns:ExtensionDataObject" />
  <xs:simpleType name="DocumentStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Rejected" />
      <xs:enumeration value="Active" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DocumentStatus" nillable="true" type="tns:DocumentStatus" />
  <xs:complexType name="ArrayOfBase64Binary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="base64Binary" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBase64Binary" nillable="true" type="tns:ArrayOfBase64Binary" />
  <xs:simpleType name="ResponseStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNEXPETC_ERROR" />
      <xs:enumeration value="ID_CARD_FORMAT_ERROR" />
      <xs:enumeration value="ID_CARD_PARAMETERS_ERROR" />
      <xs:enumeration value="PRIVATE_NUMBER_FORMAT_ERROR" />
      <xs:enumeration value="OK" />
      <xs:enumeration value="PRIVATE_NUMBER_NOT_FOUND" />
      <xs:enumeration value="ID_CARD_SERIAL_NOT_MATCHED" />
      <xs:enumeration value="ID_CARD_NUMBER_NOT_MATCHED" />
      <xs:enumeration value="ID_CARD_NOT_FOUND" />
      <xs:enumeration value="PERSON_INFO_IS_CLOSED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResponseStatus" nillable="true" type="tns:ResponseStatus" />
</xs:schema>