PipelineWS/Web References/CraService/CRAService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://intranet.bank/WebServices/WcfCRAService/CRAService.svc?xsd=xsd2" namespace="http://stateinstitution.cra.ge/" />
  <xs:element name="GetListDataByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListDataByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://stateinstitution.cra.ge/" minOccurs="0" name="GetListDataByIDResult" nillable="true" type="q1:ArrayOfPersonInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://stateinstitution.cra.ge/" minOccurs="0" name="GetDataByIDResult" nillable="true" type="q2:PersonInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByIDAndYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mYear" type="xs:int" />
        <xs:element minOccurs="0" name="user_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByIDAndYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://stateinstitution.cra.ge/" minOccurs="0" name="GetDataByIDAndYearResult" nillable="true" type="q3:PersonInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByIDAndYearAlta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mYear" type="xs:int" />
        <xs:element minOccurs="0" name="user_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByIDAndYearAltaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://stateinstitution.cra.ge/" minOccurs="0" name="GetDataByIDAndYearAltaResult" nillable="true" type="q4:PersonInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>