PipelineWS/Service References/RSService/RSService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/rs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/rs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://outproxy.vtb.com.ge/test-rs/RSService.svc?xsd=xsd3" namespace="services.rs.ge" />
  <xs:complexType name="RSError">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RSError" nillable="true" type="tns:RSError" />
  <xs:complexType name="PayerInfoData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Median" nillable="true" type="tns:Median" />
      <xs:element xmlns:q1="services.rs.ge" minOccurs="0" name="PayerInfoList" nillable="true" type="q1:ArrayOfPayerInfo" />
      <xs:element minOccurs="0" name="RSError" nillable="true" type="tns:RSError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PayerInfoData" nillable="true" type="tns:PayerInfoData" />
  <xs:complexType name="Median">
    <xs:sequence>
      <xs:element minOccurs="0" name="DetailList" nillable="true" type="tns:ArrayOfMedianData" />
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Median" nillable="true" type="tns:Median" />
  <xs:complexType name="ArrayOfMedianData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedianData" nillable="true" type="tns:MedianData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedianData" nillable="true" type="tns:ArrayOfMedianData" />
  <xs:complexType name="MedianData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Period" type="xs:int" />
      <xs:element minOccurs="0" name="SumIncome" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedianData" nillable="true" type="tns:MedianData" />
</xs:schema>