PipelineWS/Service References/RSService/RSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RSService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://outproxy.vtb.com.ge/test-rs/RSService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://outproxy.vtb.com.ge/test-rs/RSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://outproxy.vtb.com.ge/test-rs/RSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/rs" />
      <xsd:import schemaLocation="http://outproxy.vtb.com.ge/test-rs/RSService.svc?xsd=xsd3" namespace="services.rs.ge" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRSSErvice_GetPayerSmsCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPayerSmsCode" />
  </wsdl:message>
  <wsdl:message name="IRSSErvice_GetPayerSmsCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPayerSmsCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IRSSErvice_GetPayerInfoData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPayerInfoData" />
  </wsdl:message>
  <wsdl:message name="IRSSErvice_GetPayerInfoData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPayerInfoDataResponse" />
  </wsdl:message>
  <wsdl:message name="IRSSErvice_GetPayerInfoDataLocal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPayerInfoDataLocal" />
  </wsdl:message>
  <wsdl:message name="IRSSErvice_GetPayerInfoDataLocal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPayerInfoDataLocalResponse" />
  </wsdl:message>
  <wsdl:message name="IRSSErvice_GetMedian_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMedian" />
  </wsdl:message>
  <wsdl:message name="IRSSErvice_GetMedian_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMedianResponse" />
  </wsdl:message>
  <wsdl:portType name="IRSSErvice">
    <wsdl:operation name="GetPayerSmsCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IRSSErvice/GetPayerSmsCode" message="tns:IRSSErvice_GetPayerSmsCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRSSErvice/GetPayerSmsCodeResponse" message="tns:IRSSErvice_GetPayerSmsCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPayerInfoData">
      <wsdl:input wsaw:Action="http://tempuri.org/IRSSErvice/GetPayerInfoData" message="tns:IRSSErvice_GetPayerInfoData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRSSErvice/GetPayerInfoDataResponse" message="tns:IRSSErvice_GetPayerInfoData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPayerInfoDataLocal">
      <wsdl:input wsaw:Action="http://tempuri.org/IRSSErvice/GetPayerInfoDataLocal" message="tns:IRSSErvice_GetPayerInfoDataLocal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRSSErvice/GetPayerInfoDataLocalResponse" message="tns:IRSSErvice_GetPayerInfoDataLocal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMedian">
      <wsdl:input wsaw:Action="http://tempuri.org/IRSSErvice/GetMedian" message="tns:IRSSErvice_GetMedian_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRSSErvice/GetMedianResponse" message="tns:IRSSErvice_GetMedian_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRSSErvice" type="tns:IRSSErvice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPayerSmsCode">
      <soap:operation soapAction="http://tempuri.org/IRSSErvice/GetPayerSmsCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPayerInfoData">
      <soap:operation soapAction="http://tempuri.org/IRSSErvice/GetPayerInfoData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPayerInfoDataLocal">
      <soap:operation soapAction="http://tempuri.org/IRSSErvice/GetPayerInfoDataLocal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedian">
      <soap:operation soapAction="http://tempuri.org/IRSSErvice/GetMedian" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RSService">
    <wsdl:port name="BasicHttpBinding_IRSSErvice" binding="tns:BasicHttpBinding_IRSSErvice">
      <soap:address location="http://outproxy.vtb.com.ge/test-rs/RSService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>