PipelineWS/Service References/LAPI.Core/LoansService81.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://models.altasoft.ge/common/v1.0" elementFormDefault="qualified" targetNamespace="http://models.altasoft.ge/common/v1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AmountAndCurrency">
    <xs:sequence>
      <xs:element name="Amount" type="xs:decimal" />
      <xs:element name="Ccy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AmountAndCurrency" nillable="true" type="tns:AmountAndCurrency" />
  <xs:complexType name="Period">
    <xs:sequence>
      <xs:element name="Start" type="xs:dateTime" />
      <xs:element name="End" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Period" nillable="true" type="tns:Period" />
  <xs:complexType name="Attributes">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attribute">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Attributes" nillable="true" type="tns:Attributes" />
  <xs:complexType name="IntList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IntList" nillable="true" type="tns:IntList" />
  <xs:complexType name="StringList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StringList" nillable="true" type="tns:StringList" />
  <xs:complexType name="UserAndDeptId">
    <xs:sequence>
      <xs:element name="UserIdentification" nillable="true" type="tns:UserIdentification" />
      <xs:element minOccurs="0" name="DeptId" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAndDeptId" nillable="true" type="tns:UserAndDeptId" />
  <xs:complexType name="UserIdentification">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserIdentification" nillable="true" type="tns:UserIdentification" />
  <xs:complexType name="TextBilingual">
    <xs:sequence>
      <xs:element minOccurs="0" name="ValueGeo" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ValueLat" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TextBilingual" nillable="true" type="tns:TextBilingual" />
</xs:schema>